<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.feup.meoarenacustomer.app" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".LoginActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".RegisterActivity"
            android:label="@string/title_activity_register"
            android:parentActivityName=".LoginActivity"
            android:windowSoftInputMode="stateHidden|adjustResize" >
        </activity>
        <activity
            android:name=".HomeActivity"
            android:label="@string/title_activity_home"
            android:windowSoftInputMode="stateHidden|adjustResize" >
        </activity>
        <activity
            android:name=".ShowsActivity"
            android:label="@string/title_activity_shows"
            android:windowSoftInputMode="stateHidden|adjustResize" >
        </activity>
        <activity
            android:name=".ShowActivity"
            android:label="@string/title_activity_show"
            android:windowSoftInputMode="stateHidden|adjustResize" >
        </activity>
        <activity
            android:name=".ProductsActivity"
            android:label="@string/title_activity_products" >
        </activity>
        <activity
            android:name=".ProductsOrder"
            android:label="@string/title_activity_products_order" >
        </activity>
        <activity
            android:name=".TicketsActivity"
            android:label="@string/title_activity_tickets" >
        </activity>
        <activity
            android:name=".VouchersActivity"
            android:label="@string/title_activity_vouchers" >
        </activity>
        <activity
            android:name=".TransactionsActivity"
            android:label="@string/title_activity_transactions" >
        </activity>
    </application>

</manifest>
